/* main level link */

/* sub levels link hover */

/* dropdown */

#top-nav li:hover > ul {
  display: block;
}

/* level 2 list */

#top-nav ul {
  display: none;
  width: 185px;
  position: absolute;
  top: 35px;
  left: 0;
}

#top-nav ul li {
  float: none;
  margin: 0;
}

#top-nav ul a {
  font-weight: normal;
}

/* level 3+ list */

#top-nav ul ul {
  left: 183px;
  top: 0px;
}

/* clearfix */

#top-nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#top-nav {
  display: inline-block;
}

html[xmlns] #top-nav {
  display: block;
}

* html #top-nav {
  height: 1%;
}

