#top-nav {
  line-height: 100%;
}

#top-nav li {
  float: left;
  position: relative;
  list-style: none;
}

/* main level link */

#top-nav a {
  text-decoration: none;
  display: block;
  margin: 0;
}

/* main level link hover */

/* sub levels link hover */

#top-nav ul li:hover a,
#top-nav li:hover li a {
  background: none;
  border: none;
}

/* dropdown */

#top-nav li:hover > ul {
  display: block;
}

/* level 2 list */

#top-nav ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 155px;
  position: absolute;
  top: 30px;
  left: -47px;
}

#top-nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}

/* level 3+ list */

#top-nav ul ul {
  left: -155px;
  top: 0px;
}

/* rounded corners of first and last link
#top-nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#top-nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
*/

/* clearfix */

#top-nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#top-nav {
  display: inline-block;
}

html[xmlns] #top-nav {
  display: block;
}

* html #top-nav {
  height: 1%;
}

