// top navigation menus
// 1 //
$menu-bg: inherit;
$menu-bg-hover: inherit;

// 2 //
$menu-co: #000;
$menu-co-hover: #fff;

// 3 //
$menu-bo: rgba(white, .2);

// 4 //
$sub-menu-bg: inherit;
$sub-menu-bg-hover: inherit;

// 5 //
$sub-menu-co: #222;
$sub-menu-co-hover: black;

// 6 //
$sub-menu-bo: rgba(black, .1);

// 7 //
$menu-link-padding: .8em;